@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Ms+Madi&family=Oswald:wght@200;300;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.holographic-effect:before,
.holographic-effect:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: 0.5;
  mix-blend-mode: color-dodge;
  transition: all 0.33s ease;
  border-radius: 4px;
}

.holographic-effect:after {
  background-image: url('https://assets.codepen.io/13471/sparkles.gif'),
    url('https://assets.codepen.io/13471/holo.png'),
    linear-gradient(
      125deg,
      #ff008450 15%,
      #fca40040 30%,
      #ffff0030 40%,
      #00ff8a20 60%,
      #00cfff40 70%,
      #cc4cfa50 85%
    );
  background-position: 50% 50%;
  background-size: 100%;
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(1) contrast(1);
  transition: all 0.33s ease;
  opacity: 0.46;
}

.card-glass {
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.25);
}
